# InCal

In [168]:
import pandas as pd
import plotly.express as px
import numpy as np
from pandas.api.types import CategoricalDtype
from IPython.display import display, HTML
from statsmodels.formula.api import ols
from collections import OrderedDict, Counter
from jupyter_dash import JupyterDash 
from dash import html
from dash import dcc
import itertools
from dash import no_update
from dash import dash_table
import dash
from dash.dependencies import Input, Output, State

# Step 1 - **Upload data**

run cell to upload the data


---



---

In [169]:
dataframes = {}
is_one_file = True
# 'this code block for the jupter colab only'
# try:
#     from google.colab import files
#     import io
#     uploaded = files.upload()
#     if len(uploaded) > 1:
#         for fn in uploaded.keys():
#             print('User uploaded file "{name}" with length {length} bytes'.format(
#                 name=fn, length=len(uploaded[fn])))
#             dataframes[fn] = pd.read_csv(io.BytesIO(uploaded[fn]))
#             is_one_file = False
#     else:
#         name = list(uploaded.keys())[0]
#         dataframes = pd.read_csv(io.BytesIO(uploaded[name]))
# except:
#     print('check the if error - file.csv, there more then one table in the sheet?, is table has missing columns?')

# dataframes = {
#     '3': pd.read_csv("csvs/shani_exp/hebrew_2021-07-28_16_33_hebrew16_shani_w2_acdoors_pt1_m_calr.csv", parse_dates=['Date_Time_1']),
#     '4': pd.read_csv("csvs/shani_exp/hebrew_2021-08-01_13_49_hebrew16_shani_w1_pt2b_m_calr(1).csv", parse_dates=['Date_Time_1']),
#     '5': pd.read_csv("csvs/shani_exp/hebrew_2021-08-04_11_45_hebrew16_shani_acdoors_w2p1_m_calr.csv", parse_dates=['Date_Time_1']),
#     '6': pd.read_csv("csvs/all_weeks/hebrew_2021-08-10_16_15_hebrew16_shani_w2p2.1_m_calr.csv", parse_dates=['Date_Time_1']),
#     '7': pd.read_csv("csvs/all_weeks/hebrew_2021-08-11_16_24_hebrew16_shani_acdoors_w3_m_calr.csv", parse_dates=['Date_Time_1']),
#     '8': pd.read_csv("csvs/all_weeks/hebrew_2021-08-15_16_24_hebrew16_sahni_acdoors_w3p2_m_calr.csv", parse_dates=['Date_Time_1']),
#     '9': pd.read_csv("csvs/all_weeks/hebrew_2021-08-19_16_17_hebrew16_shani_acdoors_w4_m_calr.csv", parse_dates=['Date_Time_1']),
#     '10': pd.read_csv("csvs/all_weeks/hebrew_2021-08-26_16_12_hebrew16_shani_acdoors_w5_m_calr.csv", parse_dates=['Date_Time_1']),
#     '11': pd.read_csv("csvs/all_weeks/hebrew_2021-08-29_08_41_hebrew16_shani_acdoors_w5_dd_m_calr.csv", parse_dates=['Date_Time_1']),
#     '12': pd.read_csv("csvs/all_weeks/hebrew_2021-09-02_07_54_hebrew16_dark dark week2_m_calr.csv", parse_dates=['Date_Time_1'])
# }
# dataframes = pd.read_csv('csvs\shani_exp\hebrew_2021-07-28_16_33_hebrew16_shani_w2_acdoors_pt1_m_calr.csv', parse_dates=['Date_Time_1'])
dataframes = pd.read_csv('example_csvs/example.csv', parse_dates=['Date_Time_1'])
dataframes

,Date_Time_1,envirolightlux_2,envirotemp_2,envirorh_2,envirooccupancy_2,envirosound_2,vo2_1,vo2_2,vo2_3,vo2_4,...,allmeters_7,allmeters_8,allmeters_9,allmeters_10,allmeters_11,allmeters_12,allmeters_13,allmeters_14,allmeters_15,allmeters_16
0,2021-07-28 16:45:00,0,0,0,0,0,1.421349,1.480283,2.206197,1.504177,...,2.371926,4.481019,4.337746,1.404414,3.553978,11.91558,3.425906,4.123155,8.667903,4.39023
1,2021-07-28 17:05:00,0,0,0,0,0,1.587630,1.730032,1.856729,1.248690,...,3.219805,12.191920,7.153311,2.106566,4.424401,16.35851,7.169481,5.093003,18.831850,11.94046
2,2021-07-28 17:25:00,0,0,0,0,0,1.824514,1.503004,1.637191,1.424713,...,3.219805,14.028540,7.280427,2.926421,5.007126,18.59064,8.205385,6.575711,27.916030,15.79637
3,2021-07-28 17:45:00,0,0,0,0,0,1.996406,1.523280,1.403817,1.462108,...,3.253144,14.028540,8.248654,4.176327,6.319085,21.97589,8.214393,8.115648,28.901700,16.33123
4,2021-07-28 18:05:00,0,0,0,0,0,1.707270,1.586915,2.213277,1.421148,...,4.968030,14.311580,11.172880,7.266493,6.572079,21.97760,8.400945,8.585472,28.938640,16.96868
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
273,2021-08-01 11:45:00,0,0,0,0,0,1.212794,1.064075,1.124583,1.102364,...,491.530700,633.174600,646.548500,531.221600,699.589700,1047.17600,452.942400,778.114700,762.586900,537.41680
274,2021-08-01 12:05:00,0,0,0,0,0,1.236582,1.054845,1.897775,1.183671,...,491.648800,633.994800,646.972200,532.279500,699.589700,1050.29500,452.944200,782.722100,762.845100,537.72420
275,2021-08-01 12:25:00,0,0,0,0,0,1.308523,1.035974,1.897189,1.386340,...,491.720600,635.166900,648.094000,532.339700,699.589700,1050.35100,452.947800,785.962900,764.462200,537.88200
276,2021-08-01 12:45:00,0,0,0,0,0,1.162044,1.128753,1.476144,1.171823,...,491.814000,635.210900,648.141800,532.339700,700.710300,1050.38200,453.189300,785.962900,764.494900,538.84810
277,2021-08-01 13:05:00,0,0,0,0,0,1.237399,1.073596,1.098089,1.222708,...,492.712600,635.210900,648.265900,532.339700,703.227300,1050.46600,453.458600,785.962900,764.542100,541.53670

# Step 2 - **INSERT EXPERIMENT DATA**

---



---

In [170]:
dict_groups = OrderedDict(Control = [1, 4, 7, 10, 13], Group_2 = [3, 5, 9, 12, 16], Group_3 = [2, 6, 8, 11, 14, 15])
print(f"{dict_groups}")

OrderedDict([('Control', [1, 4, 7, 10, 13]), ('Group_2', [3, 5, 9, 12, 16]), ('Group_3', [2, 6, 8, 11, 14, 15])])

## names replacement

...

In [171]:
name_for_replacement_in_data_table = {
    'bodymass': 'Weight_(gr)', 
    'vo2': 'Oxygen_Consumption_(ml/hr)', 
    'vco2': 'Carbon_Dioxide_Production_(ml/hr)',
    'kcal_hr': 'Energy_Expenditure_(kcal/hour)',
    'foodupa': 'Cumulative_Food_Intake_(kcal)',
    'rq': 'Respiratory_Exchange_Ratio',
    'pedmeters': 'Pedestrian_Locomotion_(m)',
    'allmeters': 'Total_Distance_includes_fine_movement_(m)',
    'waterupa': 'Cumulative_Water_Intake_(ml)',
    'Wheel': 'Total_Wheel_Counts_(Counts)' # need to check about the wheel parme...
}

calculeted_parmeters = {
    'water': 'Hourly_Water_Intake_(ml)',   
    'food': 'Hourly_Food_Intake_(kcal)',
    'locomotor_activity': 'Locomotor_Activity_(beam_breaks)',
    'energy_balance': 'Energy_Balance_(kcal/hour)',
}

# **Prepring the data**

## Functions for Prepring

-> run cell

In [172]:
def get_data(__global_df__, categories_columns_names):
    # need to find solution to the use of global var
    time_series = __global_df__.reset_index(level=categories_columns_names)
    order_categoreis_columns(time_series, subjectID=dict_groups.values(), Group=dict_groups.keys())
    return time_series

def trim_df_datetime(df, start_time, end_time):
    return df.loc[start_time:end_time]

def remove_data(df, outliers_true, start_time, end_time):
    if not outliers_true:
        return trim_df_datetime(df, start_time, end_time)        
    outliers_removed = remove_outliers_mixed_df(df, 'subjectID')
    return trim_df_datetime(outliers_removed, start_time, end_time).dropna()

#  removing subjects or group
def get_values_level(df, number_or_index_name):
  return df.index.get_level_values(number_or_index_name)

def get_difference_from_list_2(list1, list2):
    return list(set(list1) - set(list2))

def incal_remove_subjects(df, number_or_index_name, subjects_to_remove):
  subjects = get_values_level(df, number_or_index_name)
  strs_to_ints = lambda l: [int(x) for x in l]
  subjects_to_remove_ints = strs_to_ints(subjects_to_remove)
  selected_subjects = get_difference_from_list_2(subjects, subjects_to_remove_ints)
  return df.loc[:, selected_subjects , :]

def incal_remove_groups(df, number_or_index_name, groups_to_remove):
  subjects = get_values_level(df, number_or_index_name)
  selected_group = get_difference_from_list_2(subjects, groups_to_remove)
  return df.loc[:, : , selected_group]

# removing outliears
def sort_data_by_ids(df, column_name):
    return df.sort_values(column_name)

def flat_list(d_list):
    '''
    dependencies: itertools
    '''
    return list(itertools.chain.from_iterable(d_list))

def slice_df_for_floats_and_category(df, column_name):
    return df.select_dtypes(include=['float64']), df.select_dtypes(include=['category'])

def get_subject_ids(df, column_name):
    return df[column_name].unique()

def calc_mean_and_std_for_df_by_ids(df, ids_values):
    return df.groupby(ids_values).agg([np.mean, np.std])

def get_lims_upper_and_lower(df_means_and_stds, number_of_ids, number_featuers_columns, by_sd_of=2):
    calcs_shape_values = df_means_and_stds.values.reshape(number_of_ids, number_featuers_columns, 2)
    means = calcs_shape_values[:, :, :1]
    stds = calcs_shape_values[:, :, 1:]
    upper_lims = means + stds * by_sd_of
    lower_lims = means - stds * by_sd_of
    return upper_lims, lower_lims

def reshpe_vlaues_3d_ndarray(ndarray, axis0_dimensions, axis1_columns, axis2_rows):
    return ndarray.reshape(axis0_dimensions, axis1_columns, axis2_rows)

def select_and_replace_outliers(ndarry_of_features, ndarry_uppers_lims, ndarry_lowers_lims):
    conditiones = [
        ndarry_of_features > ndarry_uppers_lims,
        ndarry_of_features < ndarry_lowers_lims
    ]
    choices = [np.nan, np.nan]
    return np.select(conditiones, choices, ndarry_of_features)
    
def back_to_2d_ndarray(ndarry_of_features, axis1, axis2):
    return ndarry_of_features.reshape(axis1, axis2)
    
def sort_data_by_index(df):
    return df.sort_index()

def get_categories_cals_names(df):
    return df.index.names[1:] 

def incal_get_categories_col_from_multiindex(df):
  levels_names = get_categories_cals_names(df)
  get_values_values_from_index = df.reset_index(level=levels_names)
  return get_values_values_from_index[levels_names]

def remove_outliers_mixed_df(df):
    # sourcery skip: inline-immediately-returned-variable
    sorted_df = df.sort_index(level=1)
    fetuers, ids = df.values, df.index
    df_means_and_stds = calc_mean_and_std_for_df_by_ids(df, ids.get_level_values(1).astype('int32'))
    number_of_ids = len(ids.levels[1].categories.astype('int32'))
    fetuers_columns = df.columns
    number_featuers_columns = len(fetuers_columns)
    upper_lims, lower_lims = get_lims_upper_and_lower(df_means_and_stds, number_of_ids, number_featuers_columns)
    dimensions_by_numbers_of_ids_upper_lims = reshpe_vlaues_3d_ndarray(upper_lims, number_of_ids, 1, number_featuers_columns) 
    dimensions_by_numbers_of_ids_lower_lims = reshpe_vlaues_3d_ndarray(lower_lims, number_of_ids, 1, number_featuers_columns)
    columns_of_each_id = fetuers.shape[0] // number_of_ids
    dimensions_by_numbers_of_ids_values = reshpe_vlaues_3d_ndarray(
        fetuers, 
        number_of_ids, 
        columns_of_each_id, 
        number_featuers_columns
    )
    outliers_replaced_to_nan_values_ndarray = select_and_replace_outliers(
        dimensions_by_numbers_of_ids_values, 
        dimensions_by_numbers_of_ids_upper_lims, 
        dimensions_by_numbers_of_ids_lower_lims
        )
    combien_axis0_and_axis1 = number_of_ids * columns_of_each_id
    original_df_shape = back_to_2d_ndarray(outliers_replaced_to_nan_values_ndarray, combien_axis0_and_axis1, number_featuers_columns)
    df_fetuers_without_outliers = pd.DataFrame(original_df_shape, columns=fetuers_columns, index=ids)
    df_without_outliers = pd.concat([df_fetuers_without_outliers], axis=1)
    return df_without_outliers
# 17.1 ms ± 175 µs per loop (mean ± std. dev. of 5 runs, 100 loops each)


def incal_set_multindex(df, list_of_multi_index, drop_current_index=False):
  ids_indexed_df = df.reset_index(drop=drop_current_index)
  return ids_indexed_df.set_index(list_of_multi_index)

def create_category_column(df , categories, ordered=True):
    '''
    order_categoreis_columns make sure the group and subjects in the right order. This is for,
    the statiscal analysis. The groups and the subjects needs to be in order of the expriment design.
    In order the anova, ancova and anova with interaction to work properly
    
    '''
    return pd.Categorical(df, categories=categories, ordered=True)

def replace_ids_to_group_id(ndarray_ids, groups_names, subjects_within_group):
  conditiones = [ndarray_ids == n for n in subjects_within_group]
  choices = groups_names
  return np.select(conditiones, choices, ndarray_ids)

def incal_create_group_column_from_ids(df, ids_column_name, dict_groups):
  n_ids_multiple_name = lambda name, n: [name] * len(n)
  subjects_vlaues = incal_format[ids_column_name].values
  items = dict_groups.items()
  groups_names = flat_list([n_ids_multiple_name(group, ids) for group, ids in items])
  subjects_within_groups = flat_list([ids for ids in dict_groups.values()])
  return replace_ids_to_group_id(subjects_vlaues, groups_names, subjects_within_groups)

def incal_assemble_group_column_in_df(
    df, 
    ids_column_name, 
    dict_groups, 
    group_column_name):
  values = incal_create_group_column_from_ids(df, ids_column_name, dict_groups)
  series = pd.Series(values,  copy=False, name=group_column_name)
  return concat_dfs([incal_format, series])

def get_incal_levels_properties(dict_groups):
  date_time_type = 'datetime64[ns]'
  order_subjects = flat_list(dict_groups.values())
  order_groups = list(dict_groups.keys())
  return date_time_type, order_subjects, order_groups

def design_incal_levels(idx0, idx1, idx2, date_time_type, order_subjects, order_groups):
  level_0 = idx0.astype(date_time_type) #level 0 convert to type of date time   
  level_1 = create_category_column(idx1, order_subjects) #level 0 convert to type of date time   
  level_2 = create_category_column(idx2, order_groups) #level 0 convert to type of date time   
  return level_0, level_1, level_2

def incal_create_levels(df, dict_groups):
    # https://stackoverflow.com/questions/34417970/pandas-convert-index-type-in-multiindex-dataframe
  date_time_type, order_subjects, order_groups = get_incal_levels_properties(dict_groups)
  idx = df.index
  l0, l1, l2 = design_incal_levels(idx.levels[0], idx.levels[1], idx.levels[2], date_time_type, order_subjects, order_groups)
  return df.index.set_levels([l0, l1, l2])

# group column and set multiindex format for analysis
def create_category_column(df , categories, ordered=True):
    '''
    order_categoreis_columns make sure the group and subjects in the right order. This is for,
    the statiscal analysis. The groups and the subjects needs to be in order of the expriment design.
    In order the anova, ancova and anova with interaction to work properly
    
    '''
    return pd.Categorical(df, categories=categories, ordered=True)

def replace_ids_to_group_id(ndarray_ids, groups_names, subjects_within_group):
  conditiones = [ndarray_ids == str(n) for n in subjects_within_group]
  choices = groups_names
  return np.select(conditiones, choices, ndarray_ids)

def incal_create_group_column_from_ids(df, ids_column_name, dict_groups):
  n_ids_multiple_name = lambda name, n: [name] * len(n)
  subjects_vlaues = df[ids_column_name].values
  items = dict_groups.items()
  groups_names = flat_list([n_ids_multiple_name(group, ids) for group, ids in items])
  subjects_within_groups = flat_list([ids for ids in dict_groups.values()])
  return replace_ids_to_group_id(subjects_vlaues, groups_names, subjects_within_groups)

def incal_assemble_multi_index_format(
  df, 
  ids_column_name, 
  dict_groups, 
  group_column_name):
  
  date_time = df.index.to_frame().reset_index(drop=True)
  
  subjects = df[ids_column_name].reset_index(drop=True)

  subjects_order = [str(n) for n in flat_list(dict_groups.values())]
  cat_subjects = create_category_column(subjects, subjects_order)

  groups_values = incal_create_group_column_from_ids(df, ids_column_name, dict_groups)
  groups = pd.Series(groups_values,  copy=False, name=group_column_name)
  cat_groups = create_category_column(groups, dict_groups.keys())
  df = df.drop(columns='subjectID')

  frame_datetime_subjects_groups = pd.concat([date_time, pd.Series(cat_subjects, copy=False, name=ids_column_name), pd.Series(cat_groups, copy=False, name=group_column_name)], axis=1)
  multi_index = pd.MultiIndex.from_frame(frame_datetime_subjects_groups)
  return pd.DataFrame(df.values, columns=df.columns, index=multi_index)

# removing subjects or group
def get_values_level(df, number_or_index_name):
  return df.index.get_level_values(number_or_index_name)

def get_difference_from_list_2(list1, list2):
    return list(set(list1) - set(list2))

def incal_remove_subjects(df, number_or_index_name, subjects_to_remove):
  subjects = get_values_level(df, number_or_index_name)
  strs_to_ints = lambda l: [int(x) for x in l]
  subjects_to_remove_ints = strs_to_ints(subjects_to_remove)
  selected_subjects = get_difference_from_list_2(subjects, subjects_to_remove_ints)
  return df.loc[:, selected_subjects , :]

def incal_remove_group(df, number_or_index_name, groups_to_remove):
  subjects = get_values_level(df, number_or_index_name)
  selected_group = get_difference_from_list_2(subjects, groups_to_remove)
  return df.loc[:, : , selected_group]

def select_columns_by_metebolic_parm(df, param_name, exclude=False):
    if exclude == True:
        mask = ~df.columns.str.contains(pat=param_name)
        return df.loc[:, mask]
    mask = df.columns.str.contains(pat=param_name)
    return df.loc[:, mask]

def selecting_multi_column_by_part_of_name(df, list_pattern_parm):
    return df.filter(regex='|'.join(list_pattern_parm))

def multi_columns_by_metabolic_param(df, list_met_param, number):
    # https://stackoverflow.com/questions/21285380/find-column-whose-name-contains-a-specific-string
    columns_for_calc = df.columns[df.columns.astype("string").str.contains(pat="|".join(list_met_param))]
    df_calc = df[columns_for_calc].apply(lambda x: x * number)
    drop_old_columns = df.drop(columns_for_calc, axis=1)
    return pd.concat([drop_old_columns, df_calc], axis=1)

def loop_func_and_dfs(dfs, func, *args):
    return [func(df, *args) for df in dfs]

def _get_columns_names_list(df):
    return df.columns.values.tolist()

def _make_dict_to_replace_names(columns_names_list, pattern_addition_to_parms):
    leng = len(columns_names_list)
    return {columns_names_list[i]: pattern_addition_to_parms + columns_names_list[i] for i in range(leng)}

def _get_actuals_values(df):
    df_actuals_features_calculeted = df.diff()
    first_row_df_cumuletive = df.iloc[0:1]
    return df_actuals_features_calculeted.fillna(first_row_df_cumuletive)

def incal_get_actuals_from_cumuletive(df, columns_pattern, pattern_addition_to_parms):
    # get just the cumuletive columns from the original df
    df_cumuletive_culumns = select_columns_by_metebolic_parm(df, columns_pattern)
    # get the columns names of the cumuletive columns
    columns_names = _get_columns_names_list(df_cumuletive_culumns)
    # dict to replace names
    dict_new_names = _make_dict_to_replace_names(columns_names, pattern_addition_to_parms)
    # replace the columns names of the actuals culumns
    df_actuals_features = df_cumuletive_culumns.rename(columns=dict_new_names)
    df_actuals = _get_actuals_values(df_actuals_features)
    return pd.concat([df, df_actuals], axis=1).drop(columns_names, axis=1)

def incal_calc_cumuletive_values(df, columns_pattern):
    select_cols = df.columns.astype("string").str.contains(pat = columns_pattern)
    actuals = df.loc[:, select_cols]
    actuals_columns_names = actuals.columns.values.tolist()
    new_cols_names = [name.replace(columns_pattern, '') for name in actuals_columns_names]
    langth = len(actuals_columns_names)
    cumuletive = actuals.rename(columns={actuals_columns_names[i]: new_cols_names[i] for i in range(langth)}).cumsum()
    return pd.concat([df, cumuletive], axis=1)

def incal_set_multindex(df, list_of_multi_index):
  ids_indexed_df = df.reset_index()
  return ids_indexed_df.set_index(list_of_multi_index)
  
def incal_groupby_then_agg(df, list_to_groupby, agg_func):
    groupby = df.groupby(list_to_groupby)
    return groupby.agg(agg_func)

def incal_resample(df_unstacked_subjects, role_to_resmple_by, agg_func):
    # refactoring - > make it more genric function
  # https://stackoverflow.com/questions/15799162/resampling-within-a-pandas-multiindex
  return incal_groupby_then_agg(
                df_unstacked_subjects, 
                [
                    pd.Grouper(level='Date_Time_1', freq=role_to_resmple_by), 
                    pd.Grouper(level='subjectID')
                ], 
                agg_func)

def _multi_index_df_unstack(df_multi_indexed):
  return df_multi_indexed.unstack()

def _return_original_stacked_df(df_unstacked_subjects):
  return df_unstacked_subjects.stack().reset_index(level=1)

def incal_cumsum(df, list_of_multi_index, list_columns_names_to_cumsum):
  multi_indexed_df = incal_set_multindex(df, list_of_multi_index)
  unstacked_df = _multi_index_df_unstack(multi_indexed_df)
  cumsum_columns = unstacked_df[list_columns_names_to_cumsum].cumsum()
  cumsum_columns.columns = cumsum_columns.columns.map(lambda s: (s[0] + '_cumsum', s[1])) 
  concat_cumsum_columns = pd.concat([unstacked_df, cumsum_columns], axis=1)
  return _return_original_stacked_df(concat_cumsum_columns)

def _right_sepert_first_underscore(string):
    return tuple(string.rsplit("_", 1))

def _assemble_multi_index_axis_1_df(df, d_list, axis_1_names=["", ""]):
    # make a multi index 
    mul_i_columns = pd.MultiIndex.from_tuples(d_list, names=axis_1_names)
    # assemble new dataframe with multi index columns  
    return pd.DataFrame(df.values, index=df.index, columns=mul_i_columns)
    # then stack level 1 to the columns (level 1 -> subjects names e.g. 1 2 3...)

def incal_wide_to_long_df(wide_df, col_subj_name='subjectID'):
    cols_names = _get_columns_names_list(wide_df)
    # sepert feature name from cage number and put it in a tuple together ('allmeters', '1')
    l_micolumns  = [_right_sepert_first_underscore(col) for col in cols_names]
    multi_index_axis_1_df = _assemble_multi_index_axis_1_df(
        wide_df, 
        l_micolumns, 
        ['', col_subj_name]
    )
    # https://pandas.pydata.org/docs/user_guide/reshaping.html
    return multi_index_axis_1_df.stack(level=1)

def flatten(lst_in_lst):
    lst = []
    for l in lst_in_lst:
        if type(l) in [list,tuple,set]:
            lst.extend(l)
        else:
            return lst_in_lst
    return lst

def order_categoreis_columns(df, **kargs):
    '''
    order_categoreis_columns make sure the group and subjects in the right order. This is for,
    the statiscal analysis. The groups and the subjects needs to be in order of the expriment design.
    In order the anova, ancova and anova with interaction to work properly
    
    '''
    for col_name, order in kargs.items():
        df[col_name] = pd.Categorical(df[col_name], ordered=True, categories=flatten(order))
        
def day_and_night(df, datetime_column='Date_Time_1', start=7, end=19):
    df = df.assign(
        time=lambda x: np.where(
          df[datetime_column].dt.hour.ge(start) 
          & df[datetime_column].dt.hour.lt(end), 'Day', 'Night')).dropna()
    return df

def incal_make_averages_table(df, columns_names_too_groupby=['Group', 'subjectID'], column_name_for_time_of_day='time'):
    full_day = df.groupby(by=columns_names_too_groupby, sort=True, dropna=True).mean().reset_index().dropna()
    full_day[column_name_for_time_of_day] = 'Full day'
    D_and_N_df = day_and_night(df).groupby(by=[column_name_for_time_of_day, *columns_names_too_groupby], sort=True, dropna=True).mean().reset_index().dropna()
    return pd.concat([full_day, D_and_N_df])

# day and night time this data use for the graph below
def make_lists_start_and_end_to_day_night_time(df, datetime64_column='Date_Time_1', start=7, end=19):
    array_data_list = df[datetime64_column].unique()
    Series_datetime64 = pd.Series(array_data_list, name=datetime64_column)
    mask_daylight = Series_datetime64.dt.hour.ge(start) & Series_datetime64.dt.hour.lt(end)
    start_end = []
    still_True = False
    for i in range(len(Series_datetime64)):
        if still_True and mask_daylight.iloc[i]:
            start_end.append(Series_datetime64.iloc[i])
            still_True = False
        elif not still_True and not mask_daylight.iloc[i]:
            start_end.append(Series_datetime64.iloc[i])
            still_True = True
    return start_end

# stats
anova_features = [
  'rq', 
  'locomotor_activity', 
  'actual_pedmeters_cumsum', 
  'actual_allmeters_cumsum'
]
ancova_and_anova_with_interaction_features = [
  'Energy_Balance', 
  'kcal_hr',
  'vo2', 
  'vco2', 
  'actual_foodupa', 
  'actual_waterupa', 
  ]

def reanem_df_by_with_list_by_index(df, indexed_new_names):
  columns_names = df.columns.values.tolist()
  new_columns_names = indexed_new_names
  zip_lists = zip(columns_names, new_columns_names)
  dict_renamed_columns = {column_name: new_column_name for column_name, new_column_name in zip_lists}
  return df.rename(columns=dict_renamed_columns)

def concat_dfs(list_of_series_dfs):
  return pd.concat(list_of_series_dfs, axis=1)

def anova_with_interaction(df, metabolic_var, independent, categorical):
    return ols(f'{metabolic_var} ~ {independent} + C({categorical}) + {independent}:C({categorical})', data=df).fit().pvalues
def ancova(df, metabolic_var, independent, categorical):
    return ols(f'{metabolic_var} ~ {independent} + C({categorical})', data=df).fit().pvalues
def anova(df, metabolic_var, categorical):
    return ols(f'{metabolic_var} ~ C({categorical})', data=df).fit().pvalues

def make_pvalues_of_anova_analysis(df, m_vars, cat_var):
  return [anova(df, m_var, cat_var) for m_var in m_vars]
def make_pvalues_of_ancova_analysis(df, m_vars, independent, cat_var):
  return [ancova(df, m_var, independent, cat_var) for m_var in m_vars]
def make_pvalues_of_anova_with_interaction_analysis(df, m_vars, independent, cat_var):
  return [anova_with_interaction(df, m_var, independent, cat_var) for m_var in m_vars]

def match_case(case, df, list_of_features, independent, category_col_name):
  cases = {
    'anova': make_pvalues_of_anova_analysis(
                                df, 
                                list_of_features, 
                                category_col_name
                                ),
    'ancova': make_pvalues_of_ancova_analysis(
                    df, 
                    list_of_features, 
                    independent,
                    category_col_name
                    ), 
    'anova_with_interaction': make_pvalues_of_anova_with_interaction_analysis(
                    df, 
                    list_of_features, 
                    independent,
                    category_col_name
                    ), 
    
  }
  return cases[case]

def incal_create_pvalues_datafram(case, df, list_of_features, independent, category_col_name):
  results_from_anovafunction = match_case(case, df, list_of_features, independent, category_col_name)
  pvalues_dfs_concated = concat_dfs(results_from_anovafunction)
  return reanem_df_by_with_list_by_index(pvalues_dfs_concated, list_of_features)

def create_anovas_table(df):
    anova_df = incal_create_pvalues_datafram(
    'anova', 
    df, 
    anova_features, 
    'bodymass',
    'Group'
    )
    anova_with_interaction_df = incal_create_pvalues_datafram(
    'anova_with_interaction', 
    df, 
    ancova_and_anova_with_interaction_features, 
    'bodymass',
    'Group'
    )
    # algoritem that get each non p value in anova with interaction and replace it with anova values and fill nan where is needed
    ancova_df = incal_create_pvalues_datafram(
    'ancova', 
    df, 
    ancova_and_anova_with_interaction_features, 
    'bodymass',
    'Group'
    )
    return concat_dfs([anova_df, anova_with_interaction_df, ancova_df]).T

## Insert experimental design

In [173]:
unwanted_column = "|".join(['envirolightlux', 'envirooccupancy', 'envirorh', 'envirosound', 'envirotemp'])
cumulative_parm = "|".join(['food', 'water', 'allmeters', 'wheelmeters', 'pedmeters'])
not_for_use_columns = ['vh2o', 'xbreak', 'ybreak', 'index'] # do nothig with it becouse it not importent to delete now this columns
pattern_addition_to_parms = 'actual_'
regx_pattern_for_mean = 'vo2|vco2|vh2o|rq_|bodymass|rq|kcal_hr|break_'
regx_pattern_for_sum = 'water|food'

dict_aggrageted_function_for_column = {
  'Energy_Balance': 'mean',
  'actual_allmeters': 'mean',
  'actual_pedmeters': 'mean',
  'bodymass': 'mean',
  'kcal_hr': 'mean',
  'locomotor_activity': 'mean',
  'rq': 'mean',
  'vco2': 'mean',
  'vo2': 'mean',
  'vh2o': 'mean',
  'xbreak': 'mean',
  'ybreak': 'mean',
  'actual_foodupa': 'sum', 
  'actual_waterupa': 'sum',
}
regx_pattern_no_mean_or_sum = regx_pattern_for_sum + regx_pattern_for_mean

## **Make analysis table**

In [174]:
# Merge files!!
df_or_dfs_in_list = [dataframes] if is_one_file else dataframes.values()
dfs = [incal_get_actuals_from_cumuletive(df, cumulative_parm, pattern_addition_to_parms) for df in df_or_dfs_in_list]
dfs_concated = pd.concat(dfs)

dfs_concated_cleaned = select_columns_by_metebolic_parm(dfs_concated, unwanted_column, True) 

dfs_concated = incal_set_multindex(dfs_concated, ['Date_Time_1']).drop(columns='index')
analysis_format = incal_wide_to_long_df(dfs_concated)

analysis_format[['vco2', 'vh2o', 'vo2']] = analysis_format[['vco2', 'vh2o', 'vo2']].mul(60)
analysis_format[['actual_foodupa']] = analysis_format[['actual_foodupa']].mul(3.56)
analysis_format['Energy_Balance'] = analysis_format['actual_foodupa'].values - analysis_format['kcal_hr'].values
analysis_format['locomotor_activity'] = analysis_format[['xbreak', 'ybreak']].sum(axis=1)

resampled_analysis_format = incal_resample(analysis_format, 'H', dict_aggrageted_function_for_column)

featuers_to_cumsum_by = ['actual_pedmeters', 'actual_allmeters']
analysis_format = incal_cumsum(analysis_format, ['Date_Time_1', 'subjectID'], featuers_to_cumsum_by)
resampled_analysis_format = incal_cumsum(resampled_analysis_format, ['Date_Time_1', 'subjectID'], featuers_to_cumsum_by)

add_feature_for_agg = {
  **dict_aggrageted_function_for_column, 
  'actual_allmeters_cumsum': 'mean',
  'actual_pedmeters_cumsum': 'mean'
}

# analysis format - with original datetime samples
# when waring with datafram less then 15 K rows we can try to use analysis format

# analysis format - datetime agg rolling mean
resampled_analysis_format = incal_assemble_multi_index_format(resampled_analysis_format, 'subjectID', dict_groups, 'Group')
# analysis format - averages for each subject
grouped_analysis_format_df = resampled_analysis_format.groupby(level=['subjectID', 'Group'])
analysis_format_calculeted = grouped_analysis_format_df.agg(add_feature_for_agg).dropna()
# TODO: need to understend why it not average 
analysis_format_calculeted['Energy_Balance'] = analysis_format_calculeted['actual_foodupa'].values - analysis_format_calculeted['kcal_hr'].values

# display(analysis_format.head(2), analysis_format.shape)
display(resampled_analysis_format.head(2), resampled_analysis_format.shape)
display(analysis_format_calculeted.head(2), analysis_format_calculeted.shape)

                                       Energy_Balance  actual_allmeters  \
Date_Time_1         subjectID Group
2021-07-28 16:00:00 1         Control       -0.407835          0.820163
                    10        Control       -0.088056          1.404414

                                       actual_allmeters_cumsum  \
Date_Time_1         subjectID Group
2021-07-28 16:00:00 1         Control                 0.820163
                    10        Control                 1.404414

                                       actual_foodupa  actual_pedmeters  \
Date_Time_1         subjectID Group
2021-07-28 16:00:00 1         Control        0.000000          0.259127
                    10        Control        0.313275          1.140263

                                       actual_pedmeters_cumsum  \
Date_Time_1         subjectID Group
2021-07-28 16:00:00 1         Control                 0.259127
                    10        Control                 1.140263

                                       actual_waterupa  bodymass   kcal_hr  \
Date_Time_1         subjectID Group
2021-07-28 16:00:00 1         Control              0.0  24.46564  0.407835
                    10        Control              0.0  22.61497  0.401331

                                       locomotor_activity        rq     vco2  \
Date_Time_1         subjectID Group
2021-07-28 16:00:00 1         Control               201.0  0.758679  64.8669
                    10        Control               211.0  0.818524  67.9386

                                           vh2o       vo2  xbreak  ybreak
Date_Time_1         subjectID Group
2021-07-28 16:00:00 1         Control  8.167320  85.28094    79.0   122.0
                    10        Control  9.748566  82.76856    64.0   147.0

(1504, 16)

,,Energy_Balance,actual_allmeters,actual_pedmeters,bodymass,kcal_hr,locomotor_activity,rq,vco2,vo2,vh2o,xbreak,ybreak,actual_foodupa,actual_waterupa,actual_allmeters_cumsum,actual_pedmeters_cumsum
subjectID,Group,,,,,,,,,,,,,,,,
1,Control,47.858056,2.995438,2.388813,24.880157,0.460044,355.475177,0.818057,78.149640,94.800892,8.701518,160.127660,195.347518,48.318100,7.847125,140.043900,110.229410
4,Control,57.527601,2.238861,1.551119,25.403154,0.414105,282.255319,0.885638,74.629872,84.131960,8.989577,105.468085,176.787234,57.941706,4.154424,102.655477,69.765315

(16, 16)

# **Dashboard**

In [175]:
def assemble_dash_table(dff):
    return {
        'columns': [{"name": i, "id": i} for i in dff.columns],
        'data': dff.to_dict('records')
    }

def get_start_and_end_time(tuple_start_end, dict_time_stamps):
    start, end = (str(i) for i in tuple_start_end)
    return dict_time_stamps[start], dict_time_stamps[end]

def trim_df_datetime(df, start_time, end_time):
    return df.loc[start_time:end_time]

def assemble_data_to_dom(df, feature_name):
    return df.loc[(), (feature_name, 'bodymass')]

def get_group_or_individual_df(df, category_name, feature_calc):
    time_series_group_or_individual_dfs = {
        'Group': df.groupby([df.index.get_level_values('Date_Time_1'), df.index.get_level_values(category_name)]).agg(feature_calc),
        'subjectID': df
        }
    return time_series_group_or_individual_dfs[category_name]

def graphs_maker(clean_df, df_grouped, group_or_individual_df_averages, averages_df, feature_name, category_name, colors):
    time_series_graph = px.scatter(
        x=df_grouped.index.get_level_values('Date_Time_1'),
        y=df_grouped[feature_name].values,
        color=df_grouped.index.get_level_values(category_name), 
        color_discrete_sequence=colors, 
        template='simple_white'
    ).update_traces(mode='lines+markers')

    histogram = px.histogram(
        x=df_grouped[feature_name].values, 
        color=df_grouped.index.get_level_values(category_name).values, 
        color_discrete_sequence=colors,
        template='simple_white'
        )

    box = px.box(
        x=df_grouped.index.get_level_values(category_name).values,
        y=df_grouped[feature_name].values,
        color=df_grouped.index.get_level_values(category_name).values,
        color_discrete_sequence=colors,
        template='simple_white'
        )
    
    averages = px.bar( # 48
        x=group_or_individual_df_averages.index.get_level_values(category_name),
        y=group_or_individual_df_averages[feature_name].values,
        color=group_or_individual_df_averages.index.get_level_values(category_name),
        color_discrete_sequence=colors, 
        template='simple_white'
    )
    regression = px.scatter(
        x=averages_df['bodymass'].values,
        y=averages_df[feature_name].values,
        color=averages_df.index.get_level_values(1),
        color_discrete_sequence=colors, 
        template='simple_white', 
        trendline='ols'
    )  
    return time_series_graph, histogram, box, averages, regression

In [176]:
# STYLE =   {
#     'overflow': 'hidden',
#     'background-color': '#333',
#     'position': 'fixed',
#     'top': 0,
#     'width': '100%'
#   }

resampled_analysis_format.loc['2021-07-28 16:00:00':'2021-07-28 18:00:00']
# resampled_analysis_format['Energy_Balance'].values

                                       Energy_Balance  actual_allmeters  \
Date_Time_1         subjectID Group
2021-07-28 16:00:00 1         Control       -0.407835          0.820163
                    10        Control       -0.088056          1.404414
                    11        Group_3       -0.377329          3.553978
                    12        Group_2       -0.162136         11.915580
                    13        Control       -0.337903          3.425906
                    14        Group_3       -0.408556          4.123155
                    15        Group_3       -0.315849          8.667903
                    16        Group_2       -0.514822          4.390230
                    2         Group_3       -0.418058          0.996372
                    3         Group_2       -0.458989          6.307308
                    4         Control       -0.428309          4.107046
                    5         Group_2       -0.397592          0.127106
                    6         Group_3        0.982791          5.337572
                    7         Control       -0.204416          2.371926
                    8         Group_3       -0.139154          4.481019
                    9         Group_2       -0.385886          4.337746
2021-07-28 17:00:00 1         Control       -0.207572          2.715725
                    10        Control       -0.070752          0.923971
                    11        Group_3       -0.315130          0.921702
                    12        Group_2       -0.293668          3.353437
                    13        Control       -0.178965          1.596162
                    14        Group_3       -0.283401          1.330831
                    15        Group_3       -0.233601          6.744599
                    16        Group_2       -0.295137          3.980333
                    2         Group_3       -0.119937          1.893551
                    3         Group_2       -0.108685          5.712364
                    4         Control       -0.290698          1.195840
                    5         Group_2        0.344270          2.110210
                    6         Group_3        0.138359          3.583883
                    7         Control       -0.345283          0.293739
                    8         Group_3       -0.332586          3.182507
                    9         Group_2       -0.264493          1.303636
2021-07-28 18:00:00 1         Control       -0.187402          4.255684
                    10        Control        0.020192          1.872605
                    11        Group_3       -0.334484          1.421142
                    12        Group_2       -0.341149          2.269393
                    13        Control       -0.118975          0.724166
                    14        Group_3       -0.184673          1.285644
                    15        Group_3       -0.128006          1.109013
                    16        Group_2       -0.413821          2.574147
                    2         Group_3        0.407459          1.764165
                    3         Group_2       -0.616722          8.010050
                    4         Control       -0.290011          0.628572
                    5         Group_2       -0.471867          2.462152
                    6         Group_3       -0.488402          3.317480
                    7         Control       -0.191366          0.817361
                    8         Group_3       -0.129714          0.598407
                    9         Group_2       -0.292281          3.507479

                                       actual_allmeters_cumsum  \
Date_Time_1         subjectID Group
2021-07-28 16:00:00 1         Control                 0.820163
                    10        Control                 1.404414
                    11        Group_3                 3.553978
                    12        Group_2                11.915580
                    13        Control                 3.425906
                    14        Group_3                 4.123155
                    15        Group_3                 8.667903
                    16        Group_2                 4.390230
                    2         Group_3                 0.996372
                    3         Group_2                 6.307308
                    4         Control                 4.107046
                    5         Group_2                 0.127106
                    6         Group_3                 5.337572
                    7         Control                 2.371926
                    8         Group_3                 4.481019
                    9         Group_2                 4.337746
2021-07-28 17:00:00 1         Control                 3.535888
                    10        Control                 2.328385
                    11        Group_3                 4.475680
                    12        Group_2                15.269017
                    13        Control                 5.022068
                    14        Group_3                 5.453986
                    15        Group_3                15.412502
                    16        Group_2                 8.370563
                    2         Group_3                 2.889923
                    3         Group_2                12.019672
                    4         Control                 5.302886
                    5         Group_2                 2.237315
                    6         Group_3                 8.921455
                    7         Control                 2.665665
                    8         Group_3                 7.663526
                    9         Group_2                 5.641382
2021-07-28 18:00:00 1         Control                 7.791572
                    10        Control                 4.200990
                    11        Group_3                 5.896822
                    12        Group_2                17.538410
                    13        Control                 5.746234
                    14        Group_3                 6.739630
                    15        Group_3                16.521515
                    16        Group_2                10.944710
                    2         Group_3                 4.654088
                    3         Group_2                20.029722
                    4         Control                 5.931458
                    5         Group_2                 4.699467
                    6         Group_3                12.238935
                    7         Control                 3.483026
                    8         Group_3                 8.261933
                    9         Group_2                 9.148861

                                       actual_foodupa  actual_pedmeters  \
Date_Time_1         subjectID Group
2021-07-28 16:00:00 1         Control        0.000000          0.259127
                    10        Control        0.313275          1.140263
                    11        Group_3        0.006243          3.171110
                    12        Group_2        0.204500         11.116600
                    13        Control        0.116263          2.752747
                    14        Group_3        0.035165          3.514845
                    15        Group_3        0.142340          7.623717
                    16        Group_2        0.000000          3.653202
                    2         Group_3        0.005295          0.588025
                    3         Group_2        0.173828          5.331027
                    4         Control        0.011717          3.028645
                    5         Group_2        0.000000          0.041564
                    6         Group_3        1.441131          4.344839
                    7         Control        0.225678          1.586996
                    8         Group_3        0.317517          3.659191
                    9         Group_2        0.061308          3.296756
2021-07-28 17:00:00 1         Control        0.956338          1.909477
                    10        Control        0.956281          0.678207
                    11        Group_3        0.000384          0.810530
                    12        Group_2        0.125339          2.863410
                    13        Control        0.584802          1.192515
                    14        Group_3        0.320857          1.153217
                    15        Group_3        0.429552          5.381311
                    16        Group_2        0.290945          2.855496
                    2         Group_3        1.027594          1.275522
                    3         Group_2        1.105974          4.471404
                    4         Control        0.321707          0.693429
                    5         Group_2        2.319634          1.562012
                    6         Group_3        1.771000          2.557224
                    7         Control        0.042472          0.200955
                    8         Group_3        0.165399          2.672963
                    9         Group_2        0.377435          0.708541
2021-07-28 18:00:00 1         Control        1.034333          3.440538
                    10        Control        1.311146          1.449872
                    11        Group_3        0.043348          1.195980
                    12        Group_2        0.000000          2.024253
                    13        Control        0.776243          0.566667
                    14        Group_3        0.632629          1.123268
                    15        Group_3        0.707277          0.644660
                    16        Group_2        0.000000          1.909293
                    2         Group_3        2.678503          1.128039
                    3         Group_2        0.000000          6.509180
                    4         Control        0.378156          0.299026
                    5         Group_2        0.000000          1.785620
                    6         Group_3        0.000000          2.308453
                    7         Control        0.554445          0.627305
                    8         Group_3        0.820264          0.373180
                    9         Group_2        0.518188          2.760687

                                       actual_pedmeters_cumsum  \
Date_Time_1         subjectID Group
2021-07-28 16:00:00 1         Control                 0.259127
                    10        Control                 1.140263
                    11        Group_3                 3.171110
                    12        Group_2                11.116600
                    13        Control                 2.752747
                    14        Group_3                 3.514845
                    15        Group_3                 7.623717
                    16        Group_2                 3.653202
                    2         Group_3                 0.588025
                    3         Group_2                 5.331027
                    4         Control                 3.028645
                    5         Group_2                 0.041564
                    6         Group_3                 4.344839
                    7         Control                 1.586996
                    8         Group_3                 3.659191
                    9         Group_2                 3.296756
2021-07-28 17:00:00 1         Control                 2.168604
                    10        Control                 1.818470
                    11        Group_3                 3.981640
                    12        Group_2                13.980010
                    13        Control                 3.945262
                    14        Group_3                 4.668062
                    15        Group_3                13.005028
                    16        Group_2                 6.508698
                    2         Group_3                 1.863547
                    3         Group_2                 9.802431
                    4         Control                 3.722074
                    5         Group_2                 1.603576
                    6         Group_3                 6.902063
                    7         Control                 1.787951
                    8         Group_3                 6.332154
                    9         Group_2                 4.005297
2021-07-28 18:00:00 1         Control                 5.609141
                    10        Control                 3.268343
                    11        Group_3                 5.177620
                    12        Group_2                16.004263
                    13        Control                 4.511928
                    14        Group_3                 5.791330
                    15        Group_3                13.649688
                    16        Group_2                 8.417991
                    2         Group_3                 2.991586
                    3         Group_2                16.311611
                    4         Control                 4.021100
                    5         Group_2                 3.389196
                    6         Group_3                 9.210516
                    7         Control                 2.415256
                    8         Group_3                 6.705334
                    9         Group_2                 6.765984

                                       actual_waterupa   bodymass   kcal_hr  \
Date_Time_1         subjectID Group
2021-07-28 16:00:00 1         Control         0.000000  24.465640  0.407835
                    10        Control         0.000000  22.614970  0.401331
                    11        Group_3         0.002538  21.349980  0.383572
                    12        Group_2         0.001420  24.696810  0.366636
                    13        Control         0.077571  25.822260  0.454166
                    14        Group_3         0.000000  24.298960  0.443721
                    15        Group_3         0.000000  25.849760  0.458188
                    16        Group_2         0.007941  25.220870  0.514822
                    2         Group_3         0.000000  23.107280  0.423353
                    3         Group_2         0.046500  25.998060  0.632818
                    4         Control         0.042924  25.134410  0.440026
                    5         Group_2         0.000000  21.814710  0.397592
                    6         Group_3         0.011860  25.022260  0.458341
                    7         Control         0.005169  23.961110  0.430094
                    8         Group_3         0.000000  21.570130  0.456671
                    9         Group_2         0.000000  25.360000  0.447194
2021-07-28 17:00:00 1         Control         0.000482  24.456993  0.526351
                    10        Control         0.061245  22.614970  0.389512
                    11        Group_3         0.000208  21.428393  0.315258
                    12        Group_2         0.001082  24.334970  0.335447
                    13        Control         0.007756  25.742643  0.373899
                    14        Group_3         0.000000  24.015970  0.390354
                    15        Group_3         0.036926  25.927877  0.376785
                    16        Group_2         0.006952  24.967390  0.392119
                    2         Group_3         0.000000  23.107280  0.462469
                    3         Group_2         0.068338  26.115543  0.477342
                    4         Control         0.004500  24.435553  0.397934
                    5         Group_2         0.031281  21.955557  0.428942
                    6         Group_3         0.000957  25.022260  0.451974
                    7         Control         0.001057  23.954877  0.359440
                    8         Group_3         0.000000  21.511760  0.387719
                    9         Group_2         0.000000  25.358453  0.390304
2021-07-28 18:00:00 1         Control         0.120672  24.476997  0.532180
                    10        Control         0.338213  22.634437  0.416856
                    11        Group_3         0.000000  21.339683  0.348933
                    12        Group_2         0.000000  24.233043  0.341149
                    13        Control         0.058594  25.605407  0.377722
                    14        Group_3         0.101959  23.589940  0.395549
                    15        Group_3         0.000000  25.527950  0.363765
                    16        Group_2         0.135302  24.830130  0.413821
                    2         Group_3         0.063812  23.211297  0.485376
                    3         Group_2         0.044888  26.502480  0.616722
                    4         Control         0.000000  25.170393  0.416063
                    5         Group_2         0.062251  22.203270  0.471867
                    6         Group_3         0.212840  25.015993  0.488402
                    7         Control         0.000000  24.012053  0.376181
                    8         Group_3         0.000000  22.462530  0.403135
                    9         Group_2         0.047638  25.148777  0.465011

                                       locomotor_activity        rq  \
Date_Time_1         subjectID Group
2021-07-28 16:00:00 1         Control          201.000000  0.758679
                    10        Control          211.000000  0.818524
                    11        Group_3          360.000000  0.794086
                    12        Group_2          788.000000  0.843458
                    13        Control          440.000000  0.772627
                    14        Group_3          481.000000  0.782103
                    15        Group_3         1288.000000  0.835922
                    16        Group_2          909.000000  0.806398
                    2         Group_3          150.000000  0.742711
                    3         Group_2         1140.000000  0.760111
                    4         Control          729.000000  0.844737
                    5         Group_2           45.000000  0.762239
                    6         Group_3         1089.000000  0.837866
                    7         Control          451.000000  0.845578
                    8         Group_3         1187.000000  0.783807
                    9         Group_2         1089.000000  0.816680
2021-07-28 17:00:00 1         Control          513.666667  0.833356
                    10        Control          129.666667  0.894015
                    11        Group_3           67.333333  0.747169
                    12        Group_2          193.333333  0.806793
                    13        Control          109.333333  0.810908
                    14        Group_3           99.666667  0.773164
                    15        Group_3          639.666667  0.832491
                    16        Group_2          409.333333  0.802914
                    2         Group_3          276.666667  0.833476
                    3         Group_2          474.000000  0.841416
                    4         Control          106.666667  0.785961
                    5         Group_2          267.666667  0.818899
                    6         Group_3          370.666667  0.876183
                    7         Control           16.333333  0.809294
                    8         Group_3          193.666667  0.788209
                    9         Group_2          194.000000  0.755302
2021-07-28 18:00:00 1         Control          381.666667  0.857264
                    10        Control          163.666667  0.946652
                    11        Group_3          142.333333  0.812431
                    12        Group_2          214.333333  0.776076
                    13        Control           68.666667  0.851698
                    14        Group_3          109.000000  0.829098
                    15        Group_3          192.333333  0.833859
                    16        Group_2          399.333333  0.773670

In [177]:
feature_calc = add_feature_for_agg
resampled_analysis_format.groupby([resampled_analysis_format.index.get_level_values('subjectID'), resampled_analysis_format.index.get_level_values('Group')]).agg(feature_calc).dropna().index.get_level_values('Group').values

['Control', 'Control', 'Control', 'Control', 'Control', ..., 'Group_3', 'Group_3', 'Group_3', 'Group_3', 'Group_3']
Length: 16
Categories (3, object): ['Control' < 'Group_2' < 'Group_3']

In [178]:
# dashboard code. 
external_stylesheets = ['https://codepen.io/chriddyp/pen/bWLwgP.css']
app = JupyterDash(__name__, external_stylesheets = external_stylesheets)

storage = resampled_analysis_format.copy()
storage_removed_outliears = remove_outliers_mixed_df(storage)


time_stamps = storage.index.get_level_values(0)
shape_analysis_format_indexed = storage.shape
end_point_index_analysis_format_indexed = shape_analysis_format_indexed[0]-1
marks_indexed_time_stamp = {i: time_stamps[i] for i in range(shape_analysis_format_indexed[0])}

list_of_featuers = storage.columns
categories_columns_names = get_categories_cals_names(storage)
obj_categories_columns_names = [{'label': feature, 'value': feature} for feature in categories_columns_names]
obj_features = [{'label': feature, 'value': feature} for feature in list_of_featuers]

subjects = storage.index.get_level_values(1).unique()
groups = storage.index.get_level_values(2).unique()
multi_selection_subjects = [{'label': str(subject), 'value': str(subject)} for subject in subjects]
multi_selection_groups = [{'label': str(group), 'value': str(group)} for group in groups]

levels_as_ids = storage.index
levels_ids, levels_uniques = levels_as_ids.factorize()
columns_names = _get_columns_names_list(storage)
def clean_levels_uniques(levels_unique):
  levels_unique = list(levels_unique)
  return " ".join([levels_unique[0].isoformat(), levels_unique[1], levels_unique[2]])
gentrator_id_unique_from_levels = ((id_, unique) for id_, unique in zip(levels_ids, levels_uniques))
multi_select_point = [{
  'label': clean_levels_uniques(levels_unique),
  'value': str(levels_id)} 
  for levels_id, levels_unique in gentrator_id_unique_from_levels]

app.layout = html.Div(children=[
    dcc.Dropdown(
        id='show_as_group_or_individual',
        options=obj_categories_columns_names,
        value=categories_columns_names[0]
    ), 
    dcc.Dropdown(
        id='feature_exp',
        options=obj_features,
        value=list_of_featuers[1]
    ),
    dcc.Checklist(
    id='checklist_remove_outliers',
    options=[
        {'label': 'Remove outliers', 'value': 'True'},
    ],
    value=[],
    labelStyle={'display': 'inline-block'}
    ),
    dcc.RangeSlider(
        marks=marks_indexed_time_stamp,
        value=(0, end_point_index_analysis_format_indexed),
        id="range_slider_time_series", 
        allowCross=False,
        min=0,
        max=end_point_index_analysis_format_indexed,
    ),
    dcc.Dropdown(
        id='remove_group',
        options=multi_selection_groups,
        multi=True
    ), 
    dcc.Dropdown(
        id='remove_subjects',
        options=multi_selection_subjects,
        multi=True
    ), 
    dcc.Dropdown(
        id='state_remove_specific_ids_column',
        options=obj_features,
        multi=True
    ), 
    dcc.Dropdown(
        id='state_remove_specific_ids',
        options=multi_select_point,
        multi=True
    ), 
    html.Button(id='submit_state', n_clicks=0, children='Delete'),
    dcc.Graph(id = 'graph_time_series'), 
    dcc.Graph(id = 'box_graph'), 
    dcc.Graph(id = 'histogram_graph'), 
    dcc.Graph(id = 'graph_averages'), 
    dcc.Graph(id = 'graph_regression'), 
    dash_table.DataTable(id = 'p_values_table')
    # Create element to hide/show, in this case an 'Input Component'
])

@app.callback(
    Output('graph_time_series', 'figure'), 
    Output('box_graph', 'figure'), 
    Output('histogram_graph', 'figure'), 
    Output('graph_averages', 'figure'), 
    Output('graph_regression', 'figure'), 
    Output('p_values_table', 'columns'), 
    Output('p_values_table', 'data'), 
    Input('checklist_remove_outliers', 'value'),
    Input('remove_subjects', 'value'),
    Input('feature_exp', 'value'),
    Input('show_as_group_or_individual', 'value'),
    Input('remove_group', 'value'),
    Input('range_slider_time_series', 'value'), 
    Input('range_slider_time_series', 'marks'), 
    State('state_remove_specific_ids_column', 'value'),
    State('state_remove_specific_ids', 'value'),
    Input('submit_state', 'n_clicks')
)
def pool_data(
    outliers_true, 
    remove_subjects, 
    feature_name, 
    category_name, 
    remove_group, 
    tuple_start_end, 
    dict_time_stamps, 
    state_remove_specific_ids_column,
    state_remove_specific_ids, 
    submit_state_n_clicks
    ):

    data = storage.copy() if not outliers_true else storage_removed_outliears.copy()
    
    if state_remove_specific_ids_column: # idealy the if else need to help the user to work with the buttons 
        levels_ids = [multi_select_point[int(number_string)] for number_string in state_remove_specific_ids]
        for id_level, id_column in zip(levels_ids, state_remove_specific_ids_column):
            data.at[id_level, id_column] = np.nan

    start_time, end_time = get_start_and_end_time(tuple_start_end, dict_time_stamps)
    clean_df = trim_df_datetime(
        data,
        start_time, 
        end_time
        )
    


    if remove_group:
        clean_df = incal_remove_group(clean_df, 2, remove_group)

    if remove_subjects:
        clean_df = incal_remove_subjects(clean_df, 1, remove_subjects)
    
    # data to dom
    data_for_view = assemble_data_to_dom(clean_df, feature_name)
    # time series
    feature_calc = add_feature_for_agg[feature_name]
    df_grouped = get_group_or_individual_df(data_for_view, category_name, feature_calc)
    # averages
    group_or_individual_df_averages = data_for_view.groupby([data_for_view.index.get_level_values(category_name)]).agg(feature_calc)
    # regression
    averages_df = clean_df.groupby([clean_df.index.get_level_values('subjectID'), clean_df.index.get_level_values('Group')]).agg(feature_calc).dropna()
    # make graphs
    colors = px.colors.qualitative.Vivid
    time_series_graph, histogram, box, averages, regression = graphs_maker(
        clean_df,
        df_grouped,
        group_or_individual_df_averages, 
        averages_df, 
        feature_name, 
        category_name, 
        colors
        )
    # need to refactore that remove the side affect of in this function 
    grouped_analysis_format_df = clean_df.groupby(categories_columns_names)
    analysis_format_calculeted = grouped_analysis_format_df.agg(add_feature_for_agg).dropna()
    analysis_format_calculeted['Energy_Balance'] = analysis_format_calculeted['actual_foodupa'].values - analysis_format_calculeted['kcal_hr'].values
    analysis_format_calculeted_index_reseted = analysis_format_calculeted.reset_index()
    p_values_table = create_anovas_table(analysis_format_calculeted_index_reseted)
    p_values_table = p_values_table.reset_index().rename(columns={'index':'Features'})
    columns = [{'id': p, 'name': p} for p in p_values_table.columns.to_list()]
    return time_series_graph, box, histogram, averages, regression, columns, p_values_table.to_dict('records')

In [179]:
def run_server(self,
               port=8004,
               debug=True,
               threaded=True,
               **flask_run_options):
    self.server.run(port=port, debug=debug, **flask_run_options)

if __name__ == '__main__':
    app.run_server(debug=True, port=8024, mode='external')

Dash app running on http://127.0.0.1:8024/

c:\Users\misha\Desktop\Projects\InCal\venv\lib\site-packages\jupyter_dash\jupyter_app.py:139: UserWarning:

The 'environ['werkzeug.server.shutdown']' function is deprecated and will be removed in Werkzeug 2.1.

In [180]:
# http://127.0.0.1:8024/

In [181]:
assemble_data_to_dom(resampled_analysis_format, 'Energy_Balance')

                                       Energy_Balance  bodymass
Date_Time_1         subjectID Group
2021-07-28 16:00:00 1         Control       -0.407835  24.46564
                    10        Control       -0.088056  22.61497
                    11        Group_3       -0.377329  21.34998
                    12        Group_2       -0.162136  24.69681
                    13        Control       -0.337903  25.82226
...                                               ...       ...
2021-08-01 13:00:00 5         Group_2       -0.397047  22.32520
                    6         Group_3       -0.404414  25.20752
                    7         Control        0.155503  23.83795
                    8         Group_3       -0.263771  21.16039
                    9         Group_2       -0.314500  25.66077

[1504 rows x 2 columns]

In [182]:
l1 = []
l2 = []


l1.append('11')
l1.append('11')
l2.append(('_11_', 'm'))
l2.append(('_11_', 'm'))

In [183]:
l2, l1

([('_11_', 'm'), ('_11_', 'm')], ['11', '11'])